.Layout {
    display: grid;
    height: 100%;
    grid-template-rows: 14% 80% 6%;
}

.Layout>main{
    /*height: 100%;*/
    padding: 20px;
    margin-top: 35px;
    overflow: auto;
}
.Layout header{
    /*margin-bottom: 10px;*/
}

.Layout footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:transparent ;
}


.Toastify__toast-theme--light.Toastify__toast--success {
    background-color: #90e790; /* #97e197;, #fac09e; */
}

.Toastify__toast-theme--light.Toastify__toast--error {
    background-color: #e14f4f;
    color: white;
}
