.appBar{
    height: 100px;
    margin-top: 5px;
    padding-bottom: inherit;
}

.appBar img {
    width: 80px; 
    height: auto; 
    margin-right: 10px;
}

/*.PublicNavar{*/
/*    height: 10px;*/
/*}*/
