.CouponDetails {
    text-align: center;
    /*width: 900px;*/
    display: flex;
    justify-content: center;
}

.CouponDetails .CouponCard{
    /*padding: 5px;*/
    justify-content: center;
    max-width: 300px;
    background-image: linear-gradient(#fac09e, white);
    border: black 1px solid;
}

.CouponDetails img{
    border-radius: 10px;
}

.descSpan{
    font-weight: bold;
}
.CardBtn {
    position: absolute;
    left: 200px;
    top: 150px;
    padding: 8px 16px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #fac09e;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.CardBtn:hover {
    background-color: #494747;
    color: #fff;
}
.CouponCard .loginBtn {
    
    padding: 8px 16px;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #fac09e;
    color: #1e1d1d;
    text-decoration: none;
    /*font-size: smaller;*/
    transition: all 0.3s ease;
}

.CouponCard .loginBtn:hover {
    background-color: black;
    color: white;
}